/* css styles */
:root {
  --active: #E0665F;
  --hover: #7CBAE4;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--active);
    font-weight: 700;
}

.nav-link:hover, .nav-link:focus, .navbar-brand:hover {
    color: var(--hover)
}

ol, pre code {
    text-align: left;
}
